<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>    
   <h1>Registration</h1>
    <form action="/users/create" method="POST">
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="role">Select Role:</label>
        <select name="role_id" id="role_id">
            <% roles.forEach(role => { %>
                <option value="<%= role.id %>"><%= role.role %></option>
            <% }) %>
        </select><br>

        <label for="organizing_committee">Select Organizing Committee:</label>
        <select name="organizing_committee_id" id="organizing_committee_id">
            <% organizingCommitties.forEach(organizingCommittee => { %>
                <option value="<%= organizingCommittee.id %>"><%= organizingCommittee.name %></option>
            <% }) %>
        </select><br>
        <button type="submit">Submit</button>
        <br>
        <p>Already have an account?</p>
        <a href="./login">Login</a>
    </form>

    <% if (notify) { %>
    <script>
        Swal.fire("<%- notify %>");
    </script>
    <% } %>
</body>
</html>