<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    
    <% if (user) { %>
        <p><strong>User ID:</strong> <%= user.user_id %></p>
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.user_email %></p>
        <p><strong>College:</strong> <%= college_name %></p>
        <p><strong>Created At:</strong> <%= user.createdAt %></p>
        <p><strong>Updated At:</strong> <%= user.updatedAt %></p>
    <% } 
    else { %>
        <p>User not found!</p>
    <% } %>
</body>
</html>
